<template>
  <v-container>
    <!-- Options checkboxes -->
    <v-row>
      <v-col
        cols="12"
        sm="6"
      >
        <v-switch
          v-model="multipleCompare"
          label="Мульти-сравнение"
        ></v-switch>
      </v-col>
      <v-col
        cols="12"
        sm="6"
      >
        <v-switch
          v-model="fixedPeriod"
          label="Только последние пять дней"
        ></v-switch>
      </v-col>
    </v-row>
    <!-- #options checkboxes -->
    <v-row>
      <v-col cols="12">
        <CompareFilter
          :multiple="multipleCompare"
          :fixed-period="fixedPeriod"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CompareFilter from '@/components/filter/CompareFilter';

export default {
  name: 'Home',
  data() {
    return {
      multipleCompare: false,
      fixedPeriod: true,
    };
  },
  components: {
    CompareFilter,
  },
};
</script>
