<template>
  <v-container>
    <v-row>
      <v-col>
        <v-alert type="error">
          404 - PAGE NOT FOUND
        </v-alert>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'Page404',
};
</script>
