<template>
  <v-card max-width="374">
    <v-card-title>{{ label }}</v-card-title>

    <!-- Exchange Chart -->
    <v-card-text class="text-center">
      <v-sheet
        class="v-sheet--offset mx-auto"
        color="cyan"
        elevation="12"
      >
        <v-sparkline
          :labels="chartValues"
          :value="chartValues"
          label-size="15"
          color="white"
          line-width="1"
          padding="16"
        ></v-sparkline>
      </v-sheet>
    </v-card-text>
    <v-card-text class="text-center">
      <div class="display-5 font-weight-thin">
        Последний курс (3 дн.)
      </div>
    </v-card-text>
    <!-- #exchange chart -->

    <v-card-subtitle>Курс по датам</v-card-subtitle>

    <!-- Exchange Timeline -->
    <v-card-text class="text-center">
      <div
        v-for="(value, name) in exchanges"
        :key="name"
      >
        <b>{{ name }}</b>
        <v-chip
          class="ma-2"
          color="cyan"
          label
          text-color="white"
        >
          <v-icon left>
            mdi-cash-multiple
          </v-icon>
          {{ value }}
        </v-chip>
        <v-divider></v-divider>
      </div>
    </v-card-text>
    <!-- #exchange timeline -->
  </v-card>
</template>

<script>
export default {
  name: 'CurrencyCard',
  props: {
    label: String,
    exchanges: Object,
  },
  computed: {
    chartValues() {
      return Object.values(this.exchanges).slice(-3).map((point) => +point);
    },
  },
};
</script>

<style scoped>

</style>
