<template>
  <v-row>
    <!-- Filter params -->
    <v-col cols="12">
      <v-row>
        <!-- Date from -->
        <v-col
          cols="12"
          sm="6"
        >
          <v-menu
            :close-on-content-click="true"
            transition="scale-transition"
            offset-y
            min-width="50px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="condition.start_at"
                label="Дата от:"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="condition.start_at"
              locale="en"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <!-- #date from -->

        <!-- Date to -->
        <v-col
          v-if="!fixedPeriod"
          cols="12"
          sm="6"
        >
          <v-menu
            :close-on-content-click="true"
            transition="scale-transition"
            offset-y
            min-width="50px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="condition.end_at"
                label="Дата до:"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="condition.end_at"
              :min="condition.start_at"
              locale="en"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <!-- #date to -->
      </v-row>

      <v-row>
        <!-- Base currency -->
        <v-col
          cols="12"
          sm="6"
        >
          <v-select
            :items="getCurrencyList"
            chips
            v-model="condition.base"
            label="Базовая валюта"
            outlined
          ></v-select>
        </v-col>
        <!-- #base currency -->

        <!-- Compares currency -->
        <v-col
          cols="12"
          sm="6"
        >
          <v-select
            v-model="condition.symbols"
            :items="getCurrencyList"
            chips
            deletable-chips
            label="Валюта для сравнения"
            outlined
            :multiple="multiple"
          ></v-select>
        </v-col>
        <!-- #compares currency -->
      </v-row>
    </v-col>
    <!-- #filter params -->

    <!-- Filtering results -->
    <v-col cols="12">
      <template
        v-if="currencyCards.length > 0"
      >
        <v-row >
          <v-col
            v-for="curr in currencyCards"
            :key="curr.label"
            cols="12"
            sm="4"
            lg="3"
          >
            <CurrencyCard
              :label="curr.label"
              :exchanges="curr.exchanges"
            />
          </v-col>
        </v-row>
      </template>

      <template
        v-else
      >
        <v-row>
          <v-col>
            <v-alert type="info">
              Выберите валюту для сравнения
            </v-alert>
          </v-col>
        </v-row>
      </template>
    </v-col>
    <!-- #filtering results -->
  </v-row>

</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { getISODate } from '@/plugins/date-helper';
import CurrencyCard from '@/components/cards/CurrencyCard';

export default {
  name: 'CompareFilter',
  components: { CurrencyCard },
  props: {
    multiple: Boolean,
    fixedPeriod: Boolean,
  },
  data() {
    return {
      condition: {
        base: 'EUR',
        symbols: ['USD'],
        start_at: getISODate(),
        end_at: getISODate(),
      },
      exchangeRates: {},
      currencyCards: [],
    };
  },
  watch: {
    // FIX for multiple selection: set model as array if multi, else string
    multiple: {
      immediate: true,
      handler(newValue) {
        this.condition.symbols = newValue
          ? [this.condition.symbols || 'USD'] // set default symbol if symbols is null
          : this.condition.symbols[0];
      },
    },
    /**
     * Exchange Rates creator
     */
    condition: {
      deep: true,
      immediate: true,
      async handler(newValue) {
        // NOT send request to api if not set symbols; small optimization, because
        // if send empty symbols - response contains all currencies
        if (!newValue.symbols) {
          this.exchangeRates = {};
        } else {
          // Create get param 'symbols', selected symbol types: array or string
          const symbols = Array.isArray(newValue.symbols)
            ? newValue.symbols.join(',')
            : newValue.symbols;
          const payload = {
            ...newValue,
            symbols,
          };
          if (this.fixedPeriod) {
            // 5 days offset
            const dateOffset = (24 * 60 * 60 * 1000) * 5;
            const startAt = getISODate(new Date(payload.start_at).getTime() - dateOffset);
            // swap payload date
            payload.end_at = payload.start_at;
            payload.start_at = startAt;
          }
          const data = await this.loadHistoryCurrExchangeAPI(payload);
          this.exchangeRates = data.rates;
        }
      },
    },
    /**
     * Currency Card creator
     */
    exchangeRates: {
      handler(newValue) {
        const datesArray = Object.keys(newValue).sort();
        // FIX array symbols:
        // Case 1: if symbols is string - "for of" iterable letters, must be convert to array
        // Case 2: symbols is null
        const symbolsArray = (this.condition.symbols && this.condition.symbols.length > 0)
          ? this.condition.symbols.toString().split(',')
          : [];
        const cardsArray = [];
        for (const curr of symbolsArray) {
          const card = {
            label: curr,
            exchanges: {},
          };
          for (const date of datesArray) {
            card.exchanges[date] = this.exchangeRates[date][curr].toFixed(2) || '- нет данных';
          }
          cardsArray.push(card);
        }
        this.currencyCards = cardsArray;
      },
    },
  },

  computed: mapGetters([
    'getCurrencyList',
  ]),

  methods: mapActions([
    'loadHistoryCurrExchangeAPI',
  ]),
};
</script>
