<template>
  <v-app>
    <AppNavBar />
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import AppNavBar from '@/components/AppNavBar';
import { mapActions } from 'vuex';

export default {
  name: 'App',
  components: {
    AppNavBar,
  },
  mounted() {
    this.loadCurrencyList();
  },
  methods: mapActions([
    'loadCurrencyList',
  ]),
};
</script>
